<!DOCTYPE html>
<html>


<head>
   <link rel="stylesheet" href="/css/style.css">
   <title>404</title>
   <link rel="icon" href="/img/hapoel-tel-aviv.jpg">


</head>
<body>
         <div class="main-contect">

   {{>header}}
   <p> {{errorText}}</p>
   </div>



   {{>footer}}
   </body>
</html>

