<!DOCTYPE html>
<html>

<head>
   <title>about</title>
   <link rel="stylesheet" href="/css/style.css">
   <link rel="icon" href="/img/hapoel-tel-aviv.jpg">

</head>

<body> 
   <div class="main-contect">

      {{>header}}
      <p>This site was created by {{name}}.
         <p> It used the location to find latitude and longitude from mapbox.com</p>
      </p>
      <img class="robot"src="/img/robot.png">
   </div>

   {{>footer}}
</body>
</html>